@{
    ViewData["Title"] = "Admin Panel";
}

<h2>Admin features</h2>

<ul>
    <li><a asp-action="Status">Server status message...</a></li>
    <li><a asp-action="Imprint">Manage Imprint</a></li>
</ul>