<h1>Manual approval pending...</h1>
<p>This server requires a manual account approval by an administrator. Please give our staff (haha!) a bit of time to
    react. You should receive an e-mail message on how to continue soon!</p>